# IDEs and editors
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Build tool folders
**/target/
**/bin/
**/build/
!.mvn/wrapper/maven-wrapper.jar

# Dependency folders
.gradle/
.mvn/

# Log files
*.log

# Env files and secrets (nunca commitar arquivos .env reais!)
.env
.env.*
!.env.example
!.env.prod.example

# OS files
.DS_Store
Thumbs.db

# Roadmap
roadmap.md
../roadmap.md
